body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
}
button{
    width: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}
button:hover{
    background-color: #000;
    color: #fff;
}
canvas{
    border: 1px solid black;
}